.mg1-drawer-box {
	border: 5px solid white;
	margin: 10px;
	background-color: cornflowerblue;
}

.mg1-drawer-target {
	/*background-size: contain;*/
	background-repeat: no-repeat;
	background-position: center;
}

.mg1-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #263238;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
}

.mg1-header {
	padding-left: 30px;
	padding-right: 30px;
}

.mg1-header h1 {
	text-align: center;
}

.mg1-header span {
	font-size: 25px;
}