.splash-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: black;
	color: white;
	text-align: center;
}

.splash-container h1 {
	font-size: 120px;
}

.splash-container p {
	font-size: x-large;
}

.splash-container button {
	padding: 10px 16px;
	font-size: 16px;
	line-height: 1.375;
	cursor: pointer;
	background-color: #ffd600;
}